@media (max-width: 1000px) {
  #svg-assets{
    display: none;
  }
}
#svg-assets{
  background: none;
  fill:#064474;
}

.objetivo_general{
  text-align: center;
}

.card{
  text-align: center;
}

.light{
  text-align: justify;
}

#logo_javeriana{
  height: 200px;
}

footer a{
  color: white;
}

footer i{
  margin-right: 5px;
}


#pregunta_generadora{
  animation: type 4s steps(60, end); 
}

#pregunta_generadora:nth-child(2){
  color:red;
  animation: type2 8s steps(60, end);
}

.hidden{
  display: none;
}

.pictures div{
  text-align: center;
}

.slick-slide img {
  display:initial !important;
}